beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
fbchat==1.0.5
idna==2.5
lxml==3.8.0
numpy==1.13.0
olefile==0.44
opencv-contrib-python==3.2.0.7
Pillow==4.1.1
requests==2.18.1
urllib3==1.24.2
virtualenv==15.1.0
